# Ejercicios básicos

1. Cargue los datos iris en un data frame (pandas) e imprima la forma de los datos, tipo y las 10 primeras filas de los datos

In [46]:
import pandas as pd
import numpy as np

nombre_variables = ['longitud_sepalo', 'ancho_sepalo', 'longitud_petalo', 'ancho_petalo', 'clase']
iris = pd.read_csv('.\\Datos\\iris.csv')
irisName = pd.read_csv('.\\Datos\\iris.csv', names = nombre_variables)
print("Cabecera de los datos: \n", iris.head(10))
print("\nTipo de dato: ", type(iris))

Cabecera de los datos:
    5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

Tipo de dato:  <class 'pandas.core.frame.DataFrame'>

2. Imprima las llaves y el número de filas y de columnas.

In [48]:
irisName

,longitud_sepalo,ancho_sepalo,longitud_petalo,ancho_petalo,clase
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

3.  Obtenga el número de muestras faltantes o Nan

In [50]:
print("Elementos nulos: ", iris.isnull().values.sum())

Elementos nulos:  0

4. Cree un arreglo 2-D de tamaño 5x5 con unos en la diagonal y ceros en el resto. Convierta el arreglo NumPy a una matriz dispersa de ScyPy en formato CRS

In [51]:
import scipy.sparse as sp
matrixA = np.identity(5)
matrixDispersa = sp.csr_matrix(matrixA)
print(matrixDispersa)

  (0, 0)	1.0
  (1, 1)	1.0
  (2, 2)	1.0
  (3, 3)	1.0
  (4, 4)	1.0

5. Muestre estadísticas básicas como percentil, media, mínimo, máximo y desviación estándar de los datos. Use describe para ello. Imprima sólo la media y la desviación estándar.

In [53]:
print("Media: \n", irisName.describe().mean())
print("\nDesviación estándar: \n", irisName.describe().std())

Media:
 longitud_sepalo    23.271425
ancho_sepalo       21.123449
longitud_petalo    21.809136
ancho_petalo       19.745228
dtype: float64

Desviación estándar:
 longitud_sepalo    51.247113
ancho_sepalo       52.086472
longitud_petalo    51.835228
ancho_petalo       52.636634
dtype: float64

6. Obtenga el número de muestras para cada clase. (Pendiente)

In [54]:
clasesIris = irisName.groupby('clase')['clase'].count()
clasesIris

clase
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: clase, dtype: int64

7. Añada un encabezado a los datos usando los nombres en iris.names y repita el ejercicio anterior

In [56]:
clasesIris = irisName.groupby('clase')['clase'].count()
clasesIris

clase
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: clase, dtype: int64

8. Imprima las diez primeras filas y las dos primeras columnas del data frame usando los índices de las columnas.

In [80]:
irisName.iloc[:10,:2]

   longitud_sepalo  ancho_sepalo
0              5.1           3.5
1              4.9           3.0
2              4.7           3.2
3              4.6           3.1
4              5.0           3.6
5              5.4           3.9
6              4.6           3.4
7              5.0           3.4
8              4.4           2.9
9              4.9           3.1

# Ejercicio de visualización